@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,200&family=Lato:wght@400;700&family=Lora:wght@500&display=swap');

@font-face {
    font-family: Title;
    src: url("fonts/NEXT ART_Heavy.otf");
}
:root {
    --clr-dark: #0F0E0E;
    --clr-dark2: #201F1E;
    --clr-dark3: #252F30;
    --clr-light: #E9EEF0;
}
*, *::before, *::after {
    box-sizing: border-box;
    color-scheme: dark;
}
body, html {
    padding: 0;
    margin: 0;
    color: white;
    background-color: var(--clr-dark);
}
header {
    background: repeating-linear-gradient(
        135deg,
        black,
        black 100px,
        white 100px,
        white 139px
      );
}
div {
    box-sizing: border-box;
}
header > div {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: calc(90vh/2);
    margin: 0;
    background-color: black;
}
header > div div {
    padding-bottom: 5vw;
}
header > div p {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 2.5vw;
}
header > div h1{
    float: right;
    font-family: Title, ui-sans-serif;
    font-size: 4.2vw;
}
#first {
    margin-bottom: 10vh;
    padding-left: 60px;
    padding-right: 5vw;
    border-radius: 0 0 0px 0;
}
#first img {
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right bottom, rgba(0, 0, 0, 1.0), transparent);
    position: relative;
    height: 100%;
    margin-right: 3em;
}
#second {
    margin: 0;
    margin-left: auto;
    padding-left: 5vw;
    padding-right: 60px;
    border-radius: 0px 0 0 0;
}
#second p{
    text-align: right;
}
#second img{
    margin-left: 3em;
}
#quote-background {
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 140px;
}
#quote-container {
    background-color: var(--clr-dark2);
    margin: 0 10px 0 10px;
    width: 65vw;
    border-radius: 30px;
    padding: 2em 3em;
    font-family: 'Lora', serif;
    font-size: 2em;
}
#quote-background::before, #quote-background::after {
    content: "~ à¶ž ~";
    color: var(--clr-dark2);
    font-family: 'Lora', serif;
    font-size: 2em;
}
h2, span {
    font-family: Title, ui-sans-serif;
    text-align: center;
    font-size: 6rem;
    color: white;
    margin-top: 0;
}
h2 span {
    width: fit-content;
    background-color: black;
    padding: 0.2em;
}
.content {
    margin: 0 12vw;
    padding: 5rem;
    display: grid;
    gap: 2rem;
    background-color: var(--clr-dark);
}
article {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--clr-dark2);
    border-radius: 1rem;
    font-family: 'Lato', sans-serif;
}
#projects {
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
h3 {
    font-size: 3em;
    font-weight: 600;
    margin: .5em;
}
.project {
    padding: 1em;
    border-radius: 0 0 1em 1em;
}
.project img{
    order: -1;
    object-fit: cover;
    height: 15rem;
    margin: -1em -1em 0 -1em;
    width: calc(100% + 2em);
}
#team {
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.team {
    padding: 1em;
}
h4 {
    align-self: start;
    order: -2;
    margin-top: 0;
    margin-right: 0em;
    font-weight: 200;
    font-family: 'JetBrains Mono', monospace;
}
.team img {
    order: -1;
    border-radius: 100%;
}
.team p {
    font-size: 1.5em;
    margin: 0 1em;
}
footer {
    background-color: black;
    padding: 4em 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
footer span {
    font-weight: 200;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
}

@media only screen and (max-width: 900px) {
    header > div {
        width: 90vw ;
    }
    header > div h1 {
        font-size: 2.5em ;
    }
    header > div img {
        max-height: 30vh;
    }
    header > div p {
        font-size: 1em ;
    }
    #quote-background {
        flex-flow: column ;
    }
    #quote-container {
        width: 95vw ;
        margin: 1em ;
    }
    footer {
        flex-flow: column ;
        padding: 1em ;
    }
    footer span {
        margin: 0.7em ;
    }
}
@media only screen and (max-width: 600px) {
    #projects {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
    h2 span {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 450px) {
    header > div {
        padding-left: 0 ;
        padding-right: 0 ;
        width: 100vw ;
    }
    #second {
        overflow: hidden;
    }
}