@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,200&display=swap');

@font-face {
    font-family: Title;
    src: url("fonts/NEXT ART_Heavy.otf");
}

:root {
/*     --background-color: white;
    --foreground-color: black; */
    --background-color: black;
    --foreground-color: white;
    --secondary-dark: #262626;
    --secondary-light: #E9EEF0;
}
.logo {
    filter: invert(100%) !important;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --foreground-color: white;
    }
    .logo {
        filter: invert(100%) !important;
    }
}

body, html {
    background: repeating-linear-gradient(
        135deg,
        var(--background-color),
        var(--background-color) 100px,
        var(--foreground-color) 100px,
        var(--foreground-color) 139px
      );
    height: 100%;
    padding: 0;
    margin: 0;
}
div {
    box-sizing: border-box;
}
p {
    color: var(--foreground-color);
}
.header {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: calc(90vh/2);
    margin: 0;
    background-color: var(--background-color);
}
.header div {
    padding-bottom: 5vw;
}
.header p {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 3em;
}
.header h1{
    float: right;
    color: var(--foreground-color);
    font-family: Title, ui-sans-serif;
    font-size: 5em;
}
#first {
    margin-bottom: 10vh;
    padding-left: 60px;
    padding-right: 5vw;
}
#first img {
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right bottom, rgba(0, 0, 0, 1.0), transparent);
    position: relative;
    height: 100%;
}
#second {
    margin: 0;
    float: right;
    padding-left: 5vw;
    padding-right: 60px;
}